.icono {
    height: 10px;
    width: 10px;
    margin-right: 8px;
}

.iconoComplemento {
    height: 20px;
    width: 20px;
}

.iconoFunda {
    height: 25px;
    width: 25px;
}

.iconoSd {
    height: 30px;
    width: 30px;
}

.cabecera {
    margin-bottom: 70px;
}

#main {
    margin-left: 20px;
    margin-right: 20px;
}

.presupuestado {
    margin: 0px;
}

.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}

#example {
    font-size: 12px !important;
}

#rojo {
   background-color: red;

}
#naranja {
   background-color: orange;
}
#verde {
    background-color: lightgreen;
}
#azul {
    background-color: lightblue;
}

.milogo {
    height: 50px;
    width: 240px;
}

.container_modificado {
    margin-left: 0px !important;
}

.noTecnicos {
    visibility: hidden;
}